* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: rgb(143, 0, 0);
    padding-top: 16px;
    color: black;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: rgb(167, 18, 18);
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja {
    background-color: black;
    color: white;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid white;
    font-style: italic;
}

#produtos {
    background-color: black;
    color: white;
}

.lista-produtos {
    flex-wrap: wrap;
}

.lista-produtos li {
    list-style: none;
    max-width: 24.5%;
    margin-bottom: 24px;
    padding-right: 16px;
}

.lista-produtos li img {
    max-width: 100%;
    width: 300px;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(184, 0, 0);
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

@media screen and (max-width: 767px) {
    .lista-produtos li {
        max-width: 100%;
        margin-left: 10%;
    }

    #sobre-a-loja .container-flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .lista-produtos li {
        max-width: 40%;
    }
}